[submodule "modules/rt-thread"]
	path = modules/rt-thread
	url = https://gitee.com/rtthread/rt-thread.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "modules/DroneCAN/libcanard"]
	path = modules/DroneCAN/libcanard
	url = https://github.com/DroneCAN/libcanard
[submodule "modules/DroneCAN/pydronecan"]
	path = modules/DroneCAN/pydronecan
	url = https://github.com/dronecan/pydronecan.git
[submodule "modules/DroneCAN/DSDL"]
	path = modules/DroneCAN/DSDL
	url = https://github.com/dronecan/DSDL.git
[submodule "modules/DroneCAN/dronecan_dsdlc"]
	path = modules/DroneCAN/dronecan_dsdlc
	url = https://github.com/dronecan/dronecan_dsdlc.git
